.train-times-dashlet .trains
{
   margin-top: 10px;
   margin-bottom: 10px;
}
.train-times-dashlet .message
{
   margin-top: 10px;
   margin-bottom: 10px;
}
.train-times-dashlet .yui-dt table
{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #CBCBCB;
}
.train-times-dashlet .yui-dt div.delayed
{
   background-image: url('warning-icon.png');
   background-position: 90% 10%;
   background-repeat: no-repeat;
}
.train-times-dashlet .refresh
{
   background-image: url('refresh-icon.png');
   background-repeat: no-repeat;
   float: right;
   height: 16px;
   left: -8px;
   position: relative;
   top: -22px;
   width: 16px;
}
.train-times-dashlet .refresh a,
.train-times-dashlet .refresh a:active,
.train-times-dashlet .refresh a:hover
{
   display: block;
   height: 16px;
   text-decoration: none;
   width: 16px;
}
.train-times-dashlet .updates
{
	background-color: #FFFBDD;
	border-bottom: 1px solid #DDD6A0;
   padding-top: 5px;
   padding-bottom: 5px;
   display: none;
}
.train-times-dashlet .updates .update
{
   padding: 5px 0px 5px 30px;
   background-image: url('warning-icon.png');
   background-position: 0% 50%;
   background-repeat: no-repeat;
}
.train-times-dashlet .updates .update p
{
   padding-top: 0px;
   padding-bottom: 0px;
}